framework: net48
source http://dev-artifactory.dev.local/artifactory/api/nuget/nuget-swi/

# Platform
nuget SolarWinds.Copyright.Stable
nuget SolarWinds.NETCore ~> 2.0.4
nuget SolarWinds.Logging ~> 10000.7.0
nuget SolarWinds.Logging.Log4Net ~> 10000.7.0
nuget SolarWinds.Orion.Configuration ~> 10001.8.0

# Tools
nuget SolarWinds.Tools.Stable ~> 2.0

# Code coverage
nuget SolarWinds.SonarQube.MSBuild.Scanner = 4.7.1.2311

group 3rdParty
    source http://dev-artifactory.dev.local/artifactory/api/nuget/nuget_libs
    framework: net48

    #IoC
    nuget Castle.Core = 3.3.0
    nuget Castle.Windsor = 3.3.0
	
    # Used only for non product test tools
    nuget SystemWrapper.Wrappers 0.22.0.141
    
    # Unit test suppport
    nuget Moq = 4.5.3
    nuget NUnit == 3.12.0
    nuget NUnit3TestAdapter = 3.12.0
    nuget NUnit.Runners == 3.9.0
    nuget FluentAssertions ~> 5.4.2
	
    # Code coverage
    nuget JetBrains.dotCover.CommandLineTools ~> 2019.2